<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" [routerLink]="['films']">
        <strong>My Cinema</strong>
      </a>

      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarMenu"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <!-- Admin Dropdown -->
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"> Admin </a>

          <div class="navbar-dropdown">
            <!-- Halls link within the dropdown -->
            <a class="navbar-item" [routerLink]="['hall']"> Halls </a>

            <!-- Films link within the dropdown -->
            <a class="navbar-item" [routerLink]="['admin/film']"> Films </a>
            <a class="navbar-item" [routerLink]="['admin/ticket']"> Tickets </a>
          </div>
        </div>
        <!-- End of Admin Dropdown -->
      </div>
    </div>
  </div>
</nav>
