/* CSS to style the form-card-container */
.form-card-container {
  display: flex; /* Display the cards in a row */
  flex-wrap: wrap; /* Allow cards to wrap to new rows */
  justify-content: flex-start; /* Start from the left */

  /* Add space between the cards (adjust as needed) */
  gap: 10px;
}

/* Style for individual card (adjust card width as needed) */
.card {
  width: calc(33.33% - 10px); /* 3 cards per row; subtract margin */
  margin-bottom: 10px; /* Add some bottom margin for spacing */

  /* Reset margin for every third card to start a new row */
  &:nth-child(3n) {
    margin-right: 0;
  }
}

.centered-icon {
  height: 100%;
  margin-left: 200px;
}

.icon-hover {
  cursor: pointer;
}

.back {
  margin-right: 10px;
  width: 80px;
}
