.custom-width {
  width: 48%;
}

.right-button {
  margin-left: 20px;
}

.delete-button {
  position: relative;
  float: right;
  top: -20px;
  right: -20px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.icon {
  /*color: rgb(133, 0, 0);*/
  font-size: 14px; /* Adjust the size as needed */
}
