<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <!-- Add Film Form -->
      <div class="column is-half">
        <h1 class="title has-text-centered">Add Hall</h1>
        <form class="box">
          <div class="field">
            <label class="label">Hall Number</label>
            <div class="control">
              <input
                class="input"
                type="number"
                name="hallNumber"
                [(ngModel)]="hallNumber"
                required
              />
            </div>
          </div>
          <div class="field">
            <label class="label">Capacity</label>
            <div class="control">
              <input
                class="input"
                type="number"
                name="capacity"
                [(ngModel)]="capacity"
                required
              />
            </div>
          </div>
        
   
          <!--Loading Animation-->
        
          <button
            type="submit"
            class="button is-danger custom-width"
            (click)="back()"
          >
            Back
          </button>
          <button
            (click)="addHall()"
        
            type="submit"
            class="button is-dark custom-width right-button"
          >
            Add Hall
          </button>

          
        </form>
      </div>
    </div>
  </div>
</section>
